@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
body{
    background: #eff3f5;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}
h1, h2{font-weight: 500;}
.container{
    width:70%;
    margin: 0 auto;
}
.card{
    background: #fff;
    width:70%;
    padding: 25px;
    position: relative;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 2px rgba(42, 52, 54, .21);
}

.btn{background: #319da1;
    border:1px solid#319da1;
    position: relative;
    color: #fff ;
    outline: none;
    border-radius: 77px;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    transition: all 0.32s;
}
.btn-primary{
    background: #fff;
    border:1px solid#319da1;
    color: #319da1;
    margin-right: 20px;
}
.btn:hover{opacity: 0.7;}
.btn-primary:hover{
    background: #319da1;
    border:1px solid#319da1;
    color: #fff ;
}
.btn:active{box-shadow: inset 1px 1px 8px 2px rgba(42, 52, 54, .15);opacity: 0.87;}
.btn:focus{box-shadow: 1px 1px 8px 2px rgba(42, 52, 54, .15);}
input[type=file]{display: none;}
.hidden{opacity:0;display: none;}
.preview{display: flex; flex-wrap: wrap;padding: .5rem;margin-top: 15px;}
.preview-image{margin-bottom: .5rem;margin-right: .5rem;position: relative;overflow: hidden;}
.preview-image:hover .preview-remove{opacity: 1;}
.preview-image:hover .preview-info{bottom:4px;}
.preview-image img{height: 150px;width: auto;display: inline-block;}
.preview-remove{opacity:0;width:26px; height: 26px;position: absolute;top:0;right:0;font-weight: bold;background: rgba(255,255,255,0.5); cursor:pointer;display: flex;align-items: center;justify-content: center;transition: opacity 0.5s;}
.preview-info{position: absolute;bottom:-30px;right:0;left:0; height: 26px;font-size: .77rem;background: rgba(255,255,255,0.5);display: flex;justify-content:space-between;transition: bottom 0.22s;padding: 0 5px;font-weight: 500;align-items: center;}
.preview-image.removing{transform: scale(0);transition: transform .3s;}
.preview-info-progress{position: absolute;left: 0;top: 0; bottom: 1px;background: #319da1; text-align: center;transition: width .22s;display: flex;align-items: center;justify-content: center;}